@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body, html {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  background: black;
}

#header {
  position: fixed;
  width: 100%;
  background: #26272B;
  padding-bottom: 20px;
  z-index: 999;
}
#header .header--general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
#header .header--general--input input {
  width: 350px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 41px;
  padding-left: 30px;
  background: #26272B;
}
#header .header--general--input--aa a {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  padding: 50px 30px;
  transition: 0.4s;
}
#header .header--general--input--aa a:hover {
  transform: scale(1.2);
  color: #EEB563;
}
#header .header--general--input--aa--img i {
  color: white;
}

#hero {
  padding-bottom: 60px;
}
#hero .hero--general {
  padding-top: 200px;
}
#hero .hero--general--items {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero--general--items h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
}
#hero .hero--general--items img {
  padding-left: 20px;
}
#hero .hero--general--block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
#hero .hero--general--block h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
  padding: 10px 30px;
}
#hero .hero--general--work {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--general--work h2 {
  font-weight: 500;
  font-size: 96px;
  color: #FFFFFF;
  padding: 10px 30px;
}
#hero .hero--general--see {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero--general--see h2 {
  font-weight: 500;
  font-size: 96px;
  color: #FFFFFF;
  padding: 10px 30px;
}

#nft {
  padding-bottom: 200px;
}
#nft .nft--general {
  display: flex;
  align-items: center;
}
#nft .nft--general--ti--block {
  display: flex;
}
#nft .nft--general--ti--block p {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#nft .nft--general--ti--block .star5 {
  position: absolute;
  padding-left: 242px;
  padding-top: 20px;
}
#nft .nft--general--ti--block .star6 {
  padding-left: 20px;
}
#nft .nft--general--ti--block--items {
  display: flex;
}
#nft .nft--general--ti--block--items .hef {
  width: 380px;
  height: 103px;
  border-radius: 70px;
  transform: rotate(-90deg);
  border: 1px solid white;
  margin-top: 200px;
}
#nft .nft--general--ti--block--items .hef2 {
  width: 89.44px;
  height: 32.66px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
  transform: rotate(179.36deg);
  margin-top: 250px;
  margin-left: -70px;
}
#nft .nft--general--ti--block--items img {
  padding-top: 420px;
}
#nft .nft--general--work {
  display: flex;
  align-items: center;
}
#nft .nft--general--work img {
  position: absolute;
}
#nft .nft--general--work .img2 {
  position: relative;
  left: 100px;
}
#nft .nft--general--see .go {
  width: 211px;
  height: 78px;
  border: 1px solid #FFFFFF;
  border-radius: 39px;
  transform: rotate(-90deg);
  margin-top: -370px;
  margin-left: 300px;
}
#nft .nft--general--see .went {
  width: 79px;
  height: 76px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transform: rotate(-90deg);
  margin-top: 150px;
  margin-left: 200px;
}
#nft .nft--general--see p {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 100px;
  padding-left: 200px;
}

#have .have--general {
  padding-bottom: 100px;
}
#have .have--general div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#have .have--general--work {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}

#top .top--general {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 70px;
}
#top .top--general--block img {
  position: absolute;
  width: 400px;
  height: 627px;
}
#top .top--general--block div {
  position: relative;
  padding: 310px 50px;
}
#top .top--general--block div h1 {
  font-weight: 600;
  font-size: 29px;
  color: #FFFFFF;
  text-align: center;
}
#top .top--general--block div p {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
}
#top .top--general--block div button {
  width: 72.39px;
  height: 39.59px;
  background: #FE8B46;
  border-radius: 40px;
  border: none;
  color: #eeeeee;
  margin: 50px 120px;
}

/*# sourceMappingURL=style.css.map */
